@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Elite&display=swap');
.post.post_row:has(.signamad),
#preview:has(.signamad),
.post.post_row:has(.signamina),
#preview:has(.signamina) {
	.postrpmad.david {
		--light: #844D63;
		--color: #BD716B;
	}
	.postrpmad.rox,
	.postrpmad.roxanne {
		--light: #c6ac8a;
		--color: #748bb2;
	}
	.postrpmad {
		background: var(--neutralDark);
		padding: 10px;
		border-radius: 5px;
		text-align: justify;
		margin: auto;
		max-width: 580px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-family: "Imbue";
		position: relative;
        text-wrap: pretty;
	}
	.postrpmad:after {
		content: "code par maskaaribou";
		position: absolute;
		bottom: -15px;
		width: 100%;
		text-align: center;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		font-size: 10px;
		text-shadow: 0 0 2px;
		font-family: var(--font);
		opacity: 0.3;
		color: var(--textColor);
	}
    .postrpmad::selection {
        background:var(--color);
        color:black;
    }
	.postrpmad t {
		background: var(--neutral);
		display: flex;
		width: 100%;
		padding: 10px;
		min-height: 100px;
		gap: 10px;
		line-height: 100%;
		border-radius: 5px;
	}
	.postrpmad t l {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 10px;
	}
	.postrpmad t l ttt {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.postrpmad t l ttt:first-child {
		justify-content: center;
		margin: 10px 0 -10px;
		filter: drop-shadow(4px 4px 0 var(--neutralDarker));
		flex-wrap: wrap;
		align-items: center;
	}
	.postrpmad t l ln {
		display: block;
		background: linear-gradient(90deg, var(--color) 0%, transparent 95%);
		height: 3px;
	}
	.postrpmad t ti {
		font-size: 45px;
		text-transform: uppercase;
		font-family: "Special Elite";
		font-weight: 200;
		display: flex;
		gap: 7px;
		line-height: 100%;
	}
	.postrpmad t ti strong,
	.postrpmad t ti b {
		color: var(--color)!important;
	}
	.postrpmad t st {
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 2px;
		text-shadow: 0 0 0;
		line-height: 100%;
		font-family: "Special Elite";
	}
	.postrpmad m tt {
		all: unset;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: end;
		background: var(--neutralDark);
		padding: 10px 10px 11px;
		border-radius: 5px;
        margin: 0 0 10px auto;
        flex-wrap: wrap;
	}
	.postrpmad m tt:before {
		content: "TWs :";
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 2px;
        line-height: 100%;
		text-shadow: 0 0 0;
	}
	.postrpmad m tt x {
		background: var(--light);
		color: var(--light);
        padding: 3px 5px 0px;
        font-family: "Special Elite";
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
		transition: 200ms all;
	}
	.postrpmad m tt:hover x {
		color: black;
		cursor: help;
	}
	.postrpmad t qt {
		display: flex;
		background: var(--neutralDark);
		border-radius: 5px;
		border-left: 5px solid var(--color);
		padding: 15px;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 150%;
		font-family: "Playfair Display";
		font-style: italic;
		height: 100%;
	}
	.postrpmad t qt x b,
	.postrpmad t qt x strong{
	    color:var(--light)!important;
	}
	
	.postrpmad t qt x:before {
	    content:"« ";
	    font-size: 15px;
	}
	.postrpmad t qt x:after {
	    content:" »";
	    font-size: 15px;
	}
	.postrpmad t r {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.postrpmad t r pic {
		display: flex;
		border-radius: 5px;
		flex: 1;
		min-height: 115px;
		width: 200px;
		background-size: cover;
		background-position: center;
		border: 5px solid var(--neutralDark)
	}
	.postrpmad ln {
		display: none!important;
		background: linear-gradient(90deg, transparent 0%, var(--color) 50%, transparent 100%);
		height: 1px;
	}
    .postrpmad m {
        display: flex;
        flex-direction: column;
		background: var(--neutral);
		border-radius: 5px;
        padding: 10px;
    }
	.postrpmad m rp {
		display: block;
		padding: 20px;
		font-family: "Playfair Display";
		font-size:15px;
		text-shadow: 1px 1px 0px var(--neutralDark);
	}
	.postrpmad rp b,
	.postrpmad rp strong {
		color: var(--light)!important;
	}
	.postrpmad rp u {
		box-shadow: inset 0 -1px 0 var(--light);
	}
	.postrpmad rp strike {
		text-decoration-color: var(--light)
	}
	.postrpmad rp d,
	.postrpmad rp r {
		font-weight: bold;
		letter-spacing: 1px;
		color: var(--color);
	}
	.postrpmad rp d:has(en):hover,
	.postrpmad rp r:has(en):hover {
		cursor: help;
	}
	.postrpmad rp d:before,
	.postrpmad rp r:before {
		content: "« "
	}
	.postrpmad rp d:after,
	.postrpmad rp r:after {
		content: " »"
	}
	.postrpmad rp d en,
	.postrpmad rp r en,
	.postrpmad rp d:hover fr,
	.postrpmad rp r:hover fr {
		display: inline;
	}
	.postrpmad rp d fr,
	.postrpmad rp r fr,
	.postrpmad rp d:hover en,
	.postrpmad rp r:hover en {
		display: none;
	}
	.postrpmad info {
		display: flex;
		gap: 10px;
	}
	.postrpmad info lieu,
	.postrpmad info date,
	.postrpmad info ft {
		background: var(--neutral);
		display: flex;
		flex-direction: column;
		flex: 1;
		border-radius: 5px;
		padding: 10px;
		gap: 3px;
		justify-content: center;
		align-items: center;
		font-family: "Playfair Display";
	}
	.postrpmad info lieu:before,
	.postrpmad info date:before,
	.postrpmad info ft:before {
		content: "Lieu :";
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 2px;
		text-shadow: 0 0 0;
		border-bottom: 1px solid var(--light);
		padding: 0 0 3px;
		display: block;
		width: 100%;
		text-align: center;
		font-family: "Imbue";
	}
	.postrpmad info date:before {
		content: "Date :"
	}
	.postrpmad info ft:before {
		content: "Feat :"
	}
	.postrpmad info lieu x,
	.postrpmad info date x,
	.postrpmad info ft x {
		background: var(--neutralDark);
		display: flex;
		padding: 5px 5px 7px;
		margin: 1px 0 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.postrpmad bt {
		display: flex;
		width: 100%;
		line-height: 100%;
        align-items: stretch;
        background: var(--neutral);
        border-radius: 5px;
        gap:10px;
        padding: 10px;
	}
    .postrpmad bt y {
        display: flex;
    }
	.postrpmad bt hrp {
		display: block;
		background: var(--neutralDark);
		border-radius: 5px;
		border-right: 5px solid var(--color);
		padding: 10px;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 150%;
		font-family: "Playfair Display";
	}
	.postrpmad bt hrp:before {
		content: "HRP :";
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 2px;
		text-shadow: 0 0 2px;
		text-align: center;
		font-family: "Imbue";
		text-wrap: nowrap;
		font-style: normal;
		margin: 0 6px 0 0;
		display: inline;
		text-shadow: 0 0 2px;
	}
    .postrpmad bt stuff {
        background: var(--neutralDark);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width:200px;
        padding: 10px;
    }
	.postrpmad bt:has(hrp.hidden) stuff {
		width:100%
	}
    .postrpmad bt stuff:before {
        content: "Inventaire :";
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 100%;
        text-shadow: 0 0 0;
        font-family: "Imbue";
    }
    .postrpmad bt stuff x {
        background: var(--light);
        display: block;
        padding: 3px 5px 0px;
        font-family: "Special Elite";
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        width:100%;
        color: black;
    }
    .postrpmad hrp u {
        font-weight: bold;
        color:black;
        display: inline;
        background:var(--color);
        padding:0 3px;
        border-radius: 5px;
        box-shadow: none;
    }
    .postrpmad hrp strong {
        color:black;
        display: inline;
        background:var(--textColor);
        padding:0 3px;
        border-radius: 5px;
    }
    .postrpmad tt.hidden,
    .postrpmad hrp.hidden,
    .postrpmad stuff.hidden),
	.postrpmad bt:has(hrp.hidden):has(stuff.hidden){
        display: none
    }
}
