@import url("https://kit-pro.fontawesome.com/releases/v7.3.1/css/pro.min.css");
#preview:has(.signamad) {
	.signature_div {
		display: none
	}
}

.post:has(.signamad) {
	.post_message {
		display: flex;
		flex-direction: column;
		background: var(--neutralDark);
		padding: 0 0 20px;
	}
	.signature_div br {
		display: none;
	}
	div:has(+.signature_div) {
		flex: 1;
		position: relative;
		border-radius: 5px;
		background: var(--neutral)
	}
	.signature_div {
		width: 100%;
		background: var(--neutralDark);
		padding: 10px 0 0px;
		overflow: hidden;
	}
	.signamad {
		margin: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0;
		background: var(--neutralDark);
		border-radius: 5px;
	}
	.signamad img {
		content: url(https://i.imgur.com/in969UX.gif);
		width: 100%;
		height: 150px;
		object-fit: cover;
		object-position: 0 28%;
		border-radius: 5px;
	}
	.post_rank {
		text-align: center;
		width: 100%;
		display: block;
		background: var(--neutral);
		border-radius: 5px;
		padding: 1px 3px 5px;
		i2 {
			margin: 0;
		}
		soustf3 {
			margin: 0 0 0 3px
		}
		b2 {
			display: block;
			height: 0;
			overflow: hidden;
		}
	}
	.signamad .post_rank {
		text-align: center;
		width: 100%;
		display: block;
		background: var(--neutral);
		border-radius: 5px;
		padding: 1px 3px 5px;
		i2 {
			margin: 0;
		}
		soustf3 {
			margin: 0 0 0 3px
		}
		b2 {
			display: inline-flex;
			height: 21px;
			width: 21px;
			padding: 3px 0 0;
			margin: 0;
			justify-content: center;
			align-items: center;
			line-height: 100%;
			overflow: hidden;
			font-size: 15px
		}
	}
	.contents {
		text-wrap: pretty;
	}
	.selected.rpg {
		padding: 0;
		display: flex;
		flex-direction: column;
		overflow-x: hidden !important;
		&:has(.spoiler_content:not([hidden])) {
			overflow-y: hidden !important;
		}
		.infos-posteur {
			padding: 0 0 0 0;
		}
		.profil_label {
			display: flex;
			align-items: center;
            margin: -9px 0 -5px;
		}
		/*STATS*/
		.infos-posteur:nth-of-type(1) {
			order: 2;
			margin: -320px 0 0;
			padding: 0;
			width: 100%;
			position: sticky;
			top: 0;
			height: 320px;
			flex-shrink: 0;
			overflow: hidden;
			pointer-events: none;
			background: var(--neutralDark);
			z-index: 99;
			&:has([hidden]) {
				background: transparent;
				z-index: 2
			}
			.profil_label {
				display: none
			}
            .spoiler {
				margin: 0;
				padding: 0;
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
				gap: 5px;
				height: 100%;
				background: var(--neutral);
			}
			.spoiler:has([hidden]) {
				background: transparent;
			}
			.spoiler_title {
				all: unset;
				font-size: 0;
				pointer-events: auto;
                display: flex;
			}
            .spoiler:has([hidden]) .spoiler_title {
                margin: 0 0 0 auto;
            }
			.spoiler_title:after {
				content: "fermer";
				cursor: pointer;
				text-align: center;
				font-size: 10px !important;
				color: var(--textColor);
				letter-spacing: 1px;
				text-transform: uppercase !important;
				padding: 2px;
				background: var(--neutralDarker);
				border-radius: 3px;
                flex:1;
			}
			.spoiler:has([hidden]) .spoiler_title {
				width: calc(50% - 1px);
			}
			.spoiler:has([hidden]) .spoiler_title:after {
				content: "aptitudes"
			}
			dd {
				flex: 1;
				overflow: auto;
				height: 100%;
				border-radius: 0;
				padding: 0;
			}
			dd:has([hidden]) {
				background: transparent;
			}
			.spoiler_content {
				padding: 0;
				background: var(--neutral);
				pointer-events: auto;
				strong {
					font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--accentClrDark);
                    font-family: 'Rakkas';
                    letter-spacing: 1px;
                    text-shadow: 0 0 2px;
                    margin: 0 0 -20px;
                    display: block;
				}
				u {
					color: var(--italic2);
					font-weight: 600;
					display: flex;
					gap: 5px;
					align-items: center;
					box-shadow: none;
                    text-transform: uppercase;
                    font-family: 'Geist Mono';
                    font-size: 9px;
                    text-decoration: none;
                    margin: 2px 0 -5px;
                }
				u+br,
				br:has(+u),
                ul+br,
                ul br {
					display: none
				}
				u:before {
					font-style: normal;
					font-family: "Font Awesome 7 Sharp";
					font-weight: 100;
					font-size: 11px
				}
                ul {
                    margin: 5px 0 0;
                    padding: 0;
                }
                ul li {
                    display: flex;
                    gap:4px;
                    justify-content: space-between;
                }
                ul li:before {
                    content:"• "
                }
                ul li i {
                    flex:1;
                }
			}
		}
		/*ÂGE*/
		.infos-posteur:nth-of-type(2) {
			order: 4;
		}
		/*OCCUPATION*/
		.infos-posteur:nth-of-type(3) {
			order: 5;
		}
		/*SHIP*/
		.infos-posteur:nth-of-type(4) {
			order: 6;
		}
		/*PIC*/
		.infos-posteur:nth-of-type(5) {
			order: 3;
            margin: -315px 0 0;
			img {
				width: 100%;
				height: 95px;
				object-fit: cover;
				object-position: bottom;
			}
		}
		/*GROUPE*/
		.infos-posteur:nth-of-type(6) {
			order: 7;
		}
		/*CLASSE*/
		.infos-posteur:nth-of-type(7) {
			order: 8;
		}
		/*TRIVIA*/
		.infos-posteur:nth-of-type(8) {
			order: 1;
            margin: 0;
			padding: 0;
			width: 100%;
			position: sticky;
			top: 0;
			height: 320px;
			flex-shrink: 0;
			overflow: hidden;
			pointer-events: none;
			background: var(--neutralDark);
			z-index: 99;
			&:has([hidden]) {
				background: transparent;
				z-index: 2
			}
			.profil_label {
				display: none
			}
			.spoiler {
				margin: 0;
				padding: 0;
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
				gap: 5px;
				height: 100%;
				background: var(--neutral);
			}
			.spoiler:has([hidden]) {
				background: transparent;
			}
			.spoiler_title {
				all: unset;
				font-size: 0;
				pointer-events: auto;
                display: flex;
			}
			.spoiler_title:after {
				content: "fermer";
				cursor: pointer;
				text-align: center;
				font-size: 10px !important;
				color: var(--textColor);
				letter-spacing: 1px;
				text-transform: uppercase !important;
				padding: 2px;
				background: var(--neutralDarker);
				border-radius: 3px;
                flex:1;
			}
			.spoiler:has([hidden]) .spoiler_title {
				width: calc(50% - 1px);
			}
			.spoiler:has([hidden]) .spoiler_title:after {
				content: "trivia"
			}
			dd {
				flex: 1;
				overflow: auto;
				height: 100%;
				border-radius: 0;
				padding: 0;
			}
			dd:has([hidden]) {
				background: transparent;
			}
			.spoiler_content {
				padding: 0;
				background: var(--neutral);
				pointer-events: auto;
				strong {
					font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--accentClrDark);
                    font-family: 'Rakkas';
                    letter-spacing: 1px;
                    text-shadow: 0 0 2px;
                    margin: 0 0 -20px;
                    display: block;
				}
				u {
					color: var(--italic2);
					font-weight: 600;
					display: flex;
					gap: 5px;
					align-items: center;
					box-shadow: none;
                    text-transform: uppercase;
                    font-family: 'Geist Mono';
                    font-size: 9px;
                    text-decoration: none;
                    margin: 2px 0 -5px;
                }
				u+br,
				br:has(+u) {
					display: none
				}
			}
		}
	}
    
	.selected.other {
		padding: 0;
		display: flex;
		flex-direction: column;
		overflow-x: hidden !important;
		&:has(.spoiler_content:not([hidden])) {
			overflow-y: hidden !important;
		}
		.infos-posteur {
			padding: 0 5px 0 0;
		}
		.profil_label {
			display: flex;
			align-items: center;
            margin: -9px 0 -5px;
		}
        .infos-posteur:nth-of-type(2),
        .infos-posteur:nth-of-type(3),
        .infos-posteur:nth-of-type(6) {
            margin-bottom:0px;
        }
		.infos-posteur:nth-of-type(2)>span:not(.profil_label),
		.infos-posteur:nth-of-type(3)>span:not(.profil_label),
		.infos-posteur:nth-of-type(6)>span:not(.profil_label) {
			font-size: 0;
		}
		.infos-posteur:nth-of-type(1) {
			margin: -315px 0 5px;
		}
		.infos-posteur:nth-of-type(2)>span:not(.profil_label):after {
			content: "• Abus et crimes sexuels \a • Décès d’un parent ou d'un animal (surtout IRL, toléré inRP si juste mentionné) \a • Procédures médicales en détail (injections & piqûres notamment) \a • Relations avec rapport de force ou de pouvoir";
			font-size: 13px;
			white-space: pre-wrap;
            display: inline-block;
		}
        .infos-posteur:nth-of-type(3)>span:not(.profil_label):after {
			content: "• Contexte militaire / policier \a • Dépression \a • Deuil \a • Relation age gap (7 ans d'écart) \a • Rupture";
			font-size: 13px;
			white-space: pre-wrap;
            display: inline-block;
		}
        .infos-posteur:nth-of-type(6)>span:not(.profil_label):after {
			content: "• FC: Jon Bernthal \a • Avatar: @Maskaaribou \a • Codes: @Maskaaribou";
			font-size: 13px;
			white-space: pre-wrap;
            display: inline-block;
		}
		.infos-posteur:nth-of-type(7) {
			margin: 5px 0 25px
		}
        /*PARTIE RP*/
        .infos-posteur:nth-of-type(8) {
            order: -1;
			margin: 0;
			padding: 0;
			width: 100%;
			position: sticky;
			top: 0;
			height: 320px;
			flex-shrink: 0;
			overflow: hidden;
			pointer-events: none;
			background: var(--neutralDark);
			&:has([hidden]) {
				background: transparent;
			}
			.profil_label {
				display: none
			}
			.spoiler {
				margin: 0;
				padding: 0;
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
				gap: 5px;
				height: 100%;
				background: var(--neutral);
			}
			.spoiler:has([hidden]) {
				background: transparent;
			}
			.spoiler_title {
				all: unset;
				font-size: 0;
				pointer-events: auto;
                display: flex;
			}
			.spoiler_title:after {
				content: "fermer";
				cursor: pointer;
				text-align: center;
				font-size: 10px !important;
				color: var(--textColor);
				letter-spacing: 1px;
				text-transform: uppercase !important;
				padding: 2px;
				background: var(--neutralDarker);
				border-radius: 3px;
                flex:1;
			}
			.spoiler:has([hidden]) .spoiler_title:after {
				content: "liste des rps"
			}
			dd {
				flex: 1;
				overflow-y: auto;
				height: 100%;
				border-radius: 0;
				padding: 0;
			}
			dd:has([hidden]) {
				background: transparent;
			}
            
			.spoiler_content {
				padding: 0;
				background: var(--neutral);
				pointer-events: auto;
				strong {
					font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--accentClrDark);
                    font-family: 'Rakkas';
                    letter-spacing: 1px;
                    text-shadow: 0 0 2px;
                    margin: 0 0 -20px;
                    display: block;
				}
				u {
					color: var(--italic2);
					font-weight: 600;
					display: flex;
					gap: 5px;
					align-items: center;
					box-shadow: none;
                    text-transform: uppercase;
                    font-family: 'Geist Mono';
                    font-size: 9px;
                    text-decoration: none;
                    margin: 2px 0 -5px;
                }
				u+br,
				br:has(+u),
				i+br,
				i+br+br,
				a+br,
                ul+br,
                ul br {
					display: none
				}
				i {
					display: block;
					margin: 0 0 5px;
				}
				i:last-of-type {
					display: block;
					margin: 0;
				}
				i:before {
					content: "└ "
				}
                
				a {
					display: block;
					width: 100%;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
                    
                    color: var(--italic2);
					font-weight: 600;
					display: flex;
					gap: 5px;
					align-items: center;
					box-shadow: none;
                    text-transform: uppercase;
                    font-family: 'Geist Mono';
                    font-size: 10px;
                    text-decoration: none;
                    margin: 2px 0 -5px;
                    transition: 200ms all;
				}
				a:hover {
                    color: var(--accentClr);
					text-align: justify;
					text-overflow: unset;
					white-space: wrap;
				}
				a:before {
					content: "• ";
				}
                ul {
                    margin: 0;
                    padding: 0;
                }
                ul li {
                    display: flex;
                    gap:4px;
                }
                ul li:before {
                    content:"• "
                }
                ul li i {
                    flex:1;
                }
                ul li i:before {
                    content:"";
                }
			}
        } 
    }
}
